In [1]:
#import the libraries
import warnings
import pandas as pd
import category_encoders as ce
warnings.filterwarnings("ignore")

In [2]:
#Create the Dataframe
data=pd.DataFrame({'class':['A','B','C','B','C','A','A','A'],'Marks':[50,30,70,80,45,97,80,68]})

In [3]:
#Create target encoding object
encoder=ce.TargetEncoder(cols='class')

In [4]:
#Original Data
data

  class  Marks
0     A     50
1     B     30
2     C     70
3     B     80
4     C     45
5     A     97
6     A     80
7     A     68

In [5]:
#Fit and Transform Train Data
encoder.fit_transform(data['class'],data['Marks'])

       class
0  73.335024
1  57.689414
2  59.517061
3  57.689414
4  59.517061
5  73.335024
6  73.335024
7  73.335024